<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink='/dashboard'>WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink='/parent'>Parent</a></li>
            <li><a routerLink='/child'>Child</a></li>
            <li><a routerLink='/sbling'>sbling</a></li>
            <li><a href="#">Link Not Work</a></li>
             <li><a href="#">Link Not Work 2</a></li>
            <li><a href="/hdshsdh">Page Not Found</a></li>
        </ul>
    </div>
</nav>