<app-header></app-header>
<div class="container">
    <h2>Dashboard - Bordered Table</h2>
    <p>The .table-bordered class adds borders to a table:</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>F.Name</th>
                <th>L.Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<div class="container">
    <div>
        <label>Search Data :</label>
        <input type="text" (keyup)="userEnterData($event)" placeholder="search for emp data" [(ngModel)]="name" />
    </div>
    <br/>
    <!-- <ng-container *ngIf="(items | customFilter :name) as someDataExpected">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userNames of someDataExpected">
                    <td>{{userNames.name}}</td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="someDataExpected.length === 0">No Results Found</p>
    </ng-container> -->


    <ng-container *ngIf="( items | customFilter : name) as result">
        <p *ngFor="let item of result">
            {{item.name | uppercase}}
        </p>


        <p *ngIf="result.length === 0">No Result</p>
    </ng-container>




</div>
<app-footer></app-footer>